<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" 
data-bs-target="#exampleModal" 
(click)="addClick()" data-backdrop="static" data-keyboard="false">
    Add Department
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ModalTitle}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                aria-label="Close" (click)="closeClick()"></button>
            </div>
            <div class="modal-body">
                <app-add-dep [dep]="dep" *ngIf="ActivateAddEditDepComp"></app-add-dep>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div style="margin: 100px;">
    <table class="table table-striped">
        <thead>
            <tr class="table-primary">
                <th>DEPARTMENT ID</th>
                <th>DEPARTMENT NAME</th>
                <th>OPTIONS</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let d of DepartmentList">
                <td>{{d.DepartmentId}}</td>
                <td>{{d.DepartmentName}}</td>
                <td>
                    <button class="btn btn-outline-success" data-bs-toggle="modal" 
                    data-bs-target="#exampleModal" 
                    (click)="editClick(d)" data-backdrop="static" data-keyboard="false">Edit</button>
                    <button class="btn btn-outline-success" (click)="deleteClick(d)">Delete</button>
                </td>
            </tr>

        </tbody>

    </table>

</div>